@charset "UTF-8";


body {
    grid-area: body;
    background-color: #2d2b29;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #cba961;
    font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}

a {
    color: #cba961;
    text-decoration: none;
}

header {
    grid-area: header;
    background-image: url(../img/coffeebeans-bg.jpg);
    background-position: right;
}

header img {
    width: 300px;
    padding: 30px;
}



/* ----- Navigeringsdesign ----- */

#navicon {
    background-image: url(../img/navicon.svg);
    display: inline-block;
    height: 45px;
    width: 45px;
    cursor: pointer;
    margin: 10px;
}

#navcheckbox {
    display: none;
}

#navcheckbox ~ ul {
display: none;
}

#navcheckbox:checked ~ul {
    display: block;
    }

nav {
    grid-area: nav;
    background-color: #584f46;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1.4rem;
}

nav a:link, nav a:visited {
    background-color: #cba961;
    color: #FFFFFF;
    transition: 500ms;
}

nav a:hover, nav a:active {
    background-color: #fff;
    color: #cba961;
}

#omOssMenu {
    grid-area: omOssMeny;
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    color: #cba961;
    margin: 10px 0px 10px 0px;
}

#omOssMenu a:link, #omOssMenu a:visited {
    color: darkgrey;
    transition: 500ms;
    background-color: #6d502b;
    padding: 10px;
}

#omOssMenu a:hover, #omOssMenu a:active {
    color: #fff;
}

/* ----- Main-innehållet ----- */

main {
    grid-area: main;
    margin: 0px;
    padding: 0px;
    background-color: #1f1c1a;

}

#linkBestall {
    background-image: url(../img/bestall-i-butik-1200px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: #000000 1px 1px 10px;
    padding: 40px;
    color: #FFF;
}

#linkHitta {
    background-image: url(../img/hitta-hit-1200px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: #000000 1px 1px 10px;
    padding: 40px;
    color: #FFF;
}


#oppettider {
    padding: 40px;
    background-color: #383633;
}

#temabild img {
    position: relative;
    width: 100%;
}

#kontakt h3 {
    margin-top: 30px;
    margin-bottom: -10px;
}

#mainContent {
    padding: 40px;
}

#omOss {
    text-align: left;
    padding: 40px;
}

#omOss p b {
font-size: 1.2rem;
font-style: italic;
font-weight: lighter;
color: #FFF;
}

#omOss img {
    width: 100%;
    margin-bottom: 20px;

}

#meny {
    padding: 40px;
}

#hero {
    grid-area: hero;
    background-image: url(../img/hero-bg_1200px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: #000000 1px 1px 20px;
    padding: 40px;
    color: #fff;
}

aside {
    grid-area: aside;
    margin: 0px;
}

#temabild {
    margin-bottom: -3px;
}

/* ----- Meny-formuläret ----- */

#menyForm {
    padding: 20px;
    display: block;
    gap: 10px;
    max-width: 500px;
    margin: auto;
}

#menyForm fieldset {
    background-color: #584f46;
    margin-bottom: 20px;
}

#menyForm legend {
    font-size: x-large;
}

#menyForm label {
    display: block;
}

/* ----- Sidfoten ----- */

footer {
    grid-area: footer;
    padding: 40px;
    background-color: #584f46;
    font-size: small;
}

footer img {
    opacity: 0.3;
}

/* ----- Desktop ----- */

@media screen and (min-width: 1000px) {
body {
    display: grid;
    gap: 0px;
    grid-template-columns: auto 500px 500px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "nav  nav  nav  nav"
        ".  omOssMeny   omOssMeny   ."
        ". hero   hero   ."
        ". main   aside  ."
        ". main   aside  ."
        "footer footer footer footer"
        ;
}

#linkBestall {
    opacity: 0.6;
}

#linkHitta {
    opacity: 0.6;
}

#linkBestall:hover{
    opacity: 1;
    transition: 700ms;
}

#linkHitta:hover {
    opacity: 1;
    transition: 700ms;
}

}

/* ----- Padda ----- */

@media screen and (min-width: 500px) {

#navicon {
    display: none;
}

#navcheckbox {
    display: none;
}

nav a {
    padding: 1.5rem;
}

#navcheckbox ~ ul {
display: flex;
flex-flow: row;
justify-content: center;
}

}