@charset "UTF-8";


body {
    grid-area: body;
    background-color: #2d2b29;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #cba961;
    font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}

a {
    color: #cba961;
    text-decoration: none;
}

header {
    grid-area: header;
    background-image: url(../img/coffeebeans-bg.jpg);
    background-position: right;
}

header img {
    width: 300px;
    padding: 30px;
}



/* ----- Navigeringsdesign ----- */

#navicon {
    background-image: url(../img/navicon.svg);
    display: inline-block;
    height: 45px;
    width: 45px;
    cursor: pointer;
    margin: 10px;
}

#navcheckbox {
    display: none;
}

#navcheckbox ~ ul {
display: none;
}

#navcheckbox:checked ~ul {
    display: block;
    }

nav {
    grid-area: nav;
    background-color: #584f46;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.4rem;
}

nav a:link, nav a:visited {
    background-color: #cba961;
    color: #FFFFFF;
}

nav a:hover, nav a:active {
    background-color: #fff;
    color: #cba961;
}


/* ----- Main-innehållet ----- */

main {
    grid-area: main;
    margin: 0px;
    padding: 0px;
}

#linkBestall {
    background-image: url(../img/bestall-i-butik-1200px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: #000000 1px 1px 10px;
    padding: 40px;
    color: #FFF;
}

#linkHitta {
    background-image: url(../img/hitta-hit-1200px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: #000000 1px 1px 10px;
    padding: 40px;
    color: #FFF;
}

#oppettider {
    padding: 40px;
}

#temabild img {
    position: relative;
    width: 100%;
}

#mainContent {
    padding: 40px;
}

#kontakt h3 {
    margin-top: 30px;
    margin-bottom: -10px;
}

#omOssHero {
    background-image: url(../img/hitta-hit-1200px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: #000000 1px 1px 10px;
    padding: 40px;
}

#omOss {

}

#hero {
    background-image: url(../img/hitta-hit-1200px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: #000000 1px 1px 10px;
    padding: 40px;
}

aside {
    grid-area: aside;
    margin: 0px;
}

#hero {
    grid-area: hero;
}

/* ----- Sidfoten ----- */

footer {
    grid-area: footer;
    padding: 40px;
    background-color: #584f46;
}

footer img {
    opacity: 0.3;
}

/* ----- Desktop ----- */

@media screen and (min-width: 1200px) {
body {
    display: grid;
    gap: 0px;
    grid-template-columns: auto 500px 500px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "nav  nav  nav  nav"
        ". hero   hero   ."
        ". main   aside  ."
        ". main   aside  ."
        "footer footer footer footer"
        ;
}
}

/* ----- Padda ----- */

@media screen and (min-width: 500px) {

#navicon {
    display: none;
}

#navcheckbox {
    display: none;
}

nav a {
    padding: 1.5rem;
}

#navcheckbox ~ ul {
display: flex;
flex-flow: row;
justify-content: center;
}

}